.parent-container {
    z-index: -1;
    pointer-events: none; /* Disable interaction for the parent */
    position: relative;
}

.actions-grid-wrapper {
    pointer-events: auto; /* Enables interaction */
    z-index: 0; /* Brings it into the interactive stacking context */
}


.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.item:hover .hoverable-image {
    transform: scale(1.2); /* Enlarges the image on hover */
    z-index: 1;
}

.hoverable-image {
    pointer-events: all; /* Ensure hover events work */
}
